@import './base.css';

body{
  background-color: var(--vt-c-white);
  transition: none;
  color: var(--vt-c-black);
}

.router-link-exact-active{
  font-weight: bold !important;
  color: #198754 !important;
}

#app{
  font-family: 'Montserrat', sans-serif;
}

.btn-success, .bg-success{
  background-color: #4EB883 !important;
  border-color: #4EB883 !important;
}

.text-white{
  color: white !important;
}

.card-food{
  border-radius: 15px;
}

.img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}